<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.violin.glsurfaceview">

    <application>
        <activity android:name=".GLActivity"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            ></activity>
    </application>

</manifest>