<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.violin.imageview">

    <application>
        <activity android:name=".ImageViewActivity" />
        <activity android:name=".ConstraintActivity"
           android:theme="@android:style/Theme.Translucent.NoTitleBar" ></activity>
        <activity android:name=".ViewActivity" />
    </application>

</manifest>